@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/taviraj/v11/ahcZv8Cj3ylylTXzfO4.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
.html {
  height: 100%;
}
.header {
  overflow: hidden;
  box-shadow: 0px 1px 1px rgba(143, 143, 143, 0.25);
}
.body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
.mein {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mein__logo {
  width: 170px;
  height: 47px;
}
.mein__button {
  cursor: pointer;
  margin: 0px 0px 0px 20px;
  width: 55px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  stroke: #233D4D;
  transition: 0.2s;
}
.mein__button:hover {
  stroke: rgba(123, 207, 182, 0.5);
}
.mein__title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-family: Raleway;
}
.mein__login {
  margin: 0px 20px 0px 0px;
}
@media (min-width: 782px) {
  .mein__login {
    margin: 0px;
  }
  .mein__button {
    display: none;
  }
}
@media (max-width: 781px) {
  .mein {
    background-color: white;
  }
  .mein__logo-wrapp {
    background-color: #233D4D;
    width: 100%;
  }
  .mein__logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav__a {
    font-size: 36px;
    color: white;
  }
  .mein__title {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    font-family: Raleway;
  }
}
.title {
  margin: 0px;
  font-family: Taviraj;
  font-weight: 400;
  font-size: 36px;
  color: #233D4D;
}
.title--big {
  font-size: 48px;
}
.title--center {
  text-align: center;
}
.title__emphasis {
  margin: 0px;
  display: block;
  font-family: Taviraj;
  font-weight: 400;
  font-size: 24px;
  color: #BD6024;
}
.title__emphasis--big {
  font-size: 48px;
}
.about-us {
  margin-bottom: 200px;
  padding: 0px 20px 50px 20px;
  background-image: url(../img/photo/background.jpg);
  background-size: cover;
  position: relative;
}
.about-us__img {
  width: 100%;
}
@media (min-width: 768px) {
  .about-us {
    display: flex;
    align-items: center;
  }
  .about-us__wrapper {
    max-width: 690px;
    padding-left: 20px;
    margin-left: auto;
    width: 50%;
  }
  .about-us__img {
    width: 50%;
    max-width: 690px;
    padding-right: 20px;
    margin-right: auto;
    z-index: 1;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.center {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
}
.center--mein {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
@media (min-width: 782px) {
  .center--mein {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1380px;
  }
}
.text {
  font-family: Raleway;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
}
.text--center {
  align-items: center;
}
.button {
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  border: solid 0px;
}
.button__text--ful {
  width: 240px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #233D4D;
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  transition: 0.4s;
}
.button__text--ful:hover {
  background: #BD6024;
}
.button__text--polyium {
  width: 240px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #BD6024;
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  color: #BD6024;
  transition: 0.4s;
}
.button__text--polyium:hover {
  background: #BD6024;
  color: #FFFFFF;
}
.join {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  padding: 0px 20px 50px 20px;
}
.join__img {
  width: 100%;
}
@media (min-width: 768px) {
  .join {
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  .join__wrapper {
    max-width: 690px;
    width: 66.3%;
    padding-left: 20px;
    margin-left: auto;
  }
  .join__img {
    width: 45%;
    max-width: 690px;
    padding-right: 20px;
    margin-right: auto;
    z-index: 1;
  }
}
@media (min-width: 1024px) {
  .join__img {
    width: 33.3%;
    max-width: 690px;
    padding-right: 20px;
    margin-right: auto;
    z-index: 1;
  }
}
.peculiarity__background {
  background: linear-gradient(200deg, #E4FFF7 -5%, #7BCFB6 80%);
  padding: 80px 0px;
  margin-bottom: 150px;
}
.peculiarity__background--van {
  width: 100%;
  height: 450px;
  margin-top: 170px;
  margin-bottom: 170px;
}
.peculiarity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.peculiarity__wrapper--title {
  text-align: center;
  width: 100%;
}
.peculiarity__wrapper {
  text-align: center;
  padding: 5px;
  width: 100%;
}
@media (min-width: 768px) {
  .peculiarity__wrapper {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .peculiarity__wrapper {
    width: 30%;
  }
}
.courses {
  margin-bottom: 150px;
}
.courses__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trainer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 100%;
  max-width: 440px;
  box-shadow: 0px 0px 2px 0px #a5a5a5;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.card__a {
  text-decoration: none;
}
.card__buy {
  text-decoration: none;
  font-family: Raleway;
  color: #000000;
  display: flex;
}
.card__img {
  order: -1;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.card__star {
  padding: 0px 20px 0px 20px;
}
.card__title {
  padding: 0px 20px 0px 20px;
}
.cart__img {
  height: 25px;
}
.cart__img-footer {
  margin: 15px;
  height: 50px;
}
.card__neme {
  margin: 0px;
  text-align: center;
  font-family: Taviraj;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.card__price {
  font-family: Raleway;
  font-weight: 300;
  font-size: 24px;
  color: #BD6024;
  margin: 0px;
}
.card__speciality {
  margin: 0px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
}
.card__wrapp {
  padding: 10px 20px 10px 20px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-top: 0.75px solid #C4C4C4;
}
@media (min-width: 768px) {
  .card {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 31%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background: #233D4D;
}
.footer__title {
  margin: 0px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
.footer__img {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 244px;
  height: 188px;
}
.footer__title {
  margin-top: 50px;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__a {
  padding: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-family: Raleway;
  color: #ffffff;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.nav__a:hover {
  color: #BD6024;
}
.nav__list--phone {
  display: block;
}
.nav__login-text {
  font-family: inherit;
}
@media (max-width: 781px) {
  .nav__login-text {
    display: none;
  }
  .nav--phone {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 2;
  }
  .nav--phone--on {
    display: block;
  }
  .nav__list {
    width: 200px;
    align-items: center;
    position: relative;
  }
  .nav__item {
    padding-top: 10px;
  }
  .nav__a {
    font-size: 36px;
  }
}
@media (min-width: 782px) {
  .nav__a {
    position: relative;
  }
  .nav__a::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 10px;
    transition: 0.2s;
    background-color: rgba(123, 207, 182, 0.25);
  }
  .nav__a:hover::after {
    background-color: rgba(123, 207, 182, 0.5);
    border-radius: 5px 5px 0px 0px;
    height: 15px;
  }
  .nav__a {
    color: #000000;
  }
  .nav__a--active::after {
    background-color: rgba(123, 207, 182, 0.75);
    height: 15px;
    border-radius: 5px 5px 0px 0px;
  }
  .nav__a--active:hover::after {
    background-color: rgba(123, 207, 182, 0.75);
    border-radius: 5px 5px 0px 0px;
    height: 15px;
  }
  .nav__list--phone {
    display: flex;
  }
  .mein__button {
    display: none;
  }
  .nav__login {
    width: 20px;
    height: 20px;
  }
}
.nav__a--active {
  color: #BD6024;
}
.nav__a--footer {
  font-size: 24px;
  color: #ffffff;
}
.messenger {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Raleway;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  margin: 0;
}
.messenger__item {
  margin-left: 10px;
  list-style-type: none;
}
.messenger--messenger {
  justify-content: center;
}
.bread-crumbs {
  background: #619B8A;
  height: 270px;
  padding-top: 80px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bread-crumbs__title {
  margin: 0px;
  font-family: Taviraj;
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-align: center;
}
.bread-crumbs__menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0px;
}
.read-crumbs__item {
  position: relative;
  margin-left: 40px;
  list-style-type: none;
  font-family: Raleway;
  color: #ffffffb3;
  transition: 0.2s;
}
.read-crumbs__item:hover {
  color: #BD6024;
}
.read-crumbs__item:last-child {
  color: white;
}
.read-crumbs__item:first-child {
  margin-left: 0px;
}
.read-crumbs__item:first-child::before {
  content: none;
}
.read-crumbs__item::before {
  content: " ";
  left: -30px;
  position: absolute;
  background: url(../img/svg/crumbs.svg);
  background-size: cover;
  width: 22px;
  height: 17px;
  height: 20px;
}
.read-crumbs__a {
  color: inherit;
  text-decoration: none;
}
.confidence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confidence__img {
  max-width: 75%;
}
.confidence__text {
  max-width: 920px;
}
.confidence__star {
  height: 45px;
}
.confidence__wrapper {
  width: 100%;
}
.navigation {
  display: flex;
}
.navigation__ltem {
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content h3 {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}
.content p {
  padding-left: 20px;
  padding-right: 20px;
}
.content__wrapper-card h3 {
  text-decoration: none;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}
.content__wrapper {
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  width: 100%;
  padding-right: 10px;
}
.content__price {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.content__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .content__wrapper {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .content__wrapper {
    width: 66%;
  }
}
.modal {
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modal--not_activated {
  display: none;
}
.modal__container {
  position: fixed;
  background: #ffffff;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  padding: 20px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.modal__text {
  width: 100%;
  margin: 0px;
}
.modal__input {
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  height: 36px;
}
.animation {
  transform: translate(0px, 120%);
  opacity: 0;
}
.animation--active {
  transition: all 1.2s ease 0s;
  transform: translate(0px, 0px);
  opacity: 1;
}
.not-found {
  width: 100%;
  min-height: calc(100vh - 586px);
  margin: 0px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 48px;
  color: #233D4D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found__title {
  text-align: center;
}
