// main: ../style.less
.mein{
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
}
.mein__icon{
	width: 43px;
	height: 33px;
}
.mein__title{
	font-weight: 400;
	font-size: 16px;
	color: @mainColor;
	font-family: @font;
}
@media (min-width: 767px) {
	.mein__icon{
		display: none;
	}
}
// Возможно изменить
@media (max-width: 767px) {
	.mein{
		background-color: white;
	}
	.nav__a{
		font-size: 36px;
		color: white;
	}
	.mein__title{
		text-decoration: none;
		font-weight: 400;
		font-size: 24px;
		color: @mainColor;
		font-family: @font;
	}
}